<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <title>服务配置管理中心</title>
  <META charset="utf-8">
  <META http-equiv="X-UA-Compatible" content="IE=edge">
  <META name="viewport" content="width=device-width, initial-scale=1">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">    
  <META HTTP-EQUIV="Expires" CONTENT="0">    
  <META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/formValidation.min.css" rel="stylesheet">
  <link href="./css/jsoneditor.min.css" rel="stylesheet">
  <script data-main="./js/main" src="./js/base/require.js"></script>
</head>
<body>
  <div id="container" class="container">
  </div> <!-- /container -->
  <div id='modalWin' class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>
</body>
</html>
