<form id="editForm">
  <div class="form-group">
    <label for="recipient-name" class="control-label">name:</label>
    <input type="text" class="form-control" name='modal-name' id="modal-name" value="<%=name%>" <%=disabled%>/>
  </div>
  <div class="form-group">
    <label for="message-text" class="control-label">host:</label>
    <input class="form-control" id="modal-host" name='modal-host' value="<%=host%>" />
  </div>
  <div class="form-group">
    <label for="message-text" class="control-label">port:</label>
    <input class="form-control" id="modal-port" name='modal-port' value="<%=port%>"/>
  </div>
  <div class="form-group">
    <label for="message-text" class="control-label">api-uri:</label>
    <input class="form-control" id="modal-api-uri" name='modal-api-uri' value="<%=api_uri%>"/>
  </div>
  <div class="form-group">
    <label for="message-text" class="control-label">status-uri:</label>
    <input class="form-control" id="modal-status-uri" name='modal-status-uri' value="<%=status_uri%>"/>
  </div>
</form>